<% include('../layouts/header.ejs') %>
<h1>Welcome,<%= admin.name %></h1>

<a href="/admin/dashboard">Dashboard</a>

<table style="width: 50%;">

    <tr>
        <td>Email</td>
        <td><%= admin.email %></td>
    </tr>
    <tr>
        <td>Phone number</td>
        <td><%= admin.phone %></td>
    </tr>

</table>
<a href="/admin/logout">Logout</a>
<% include('../layouts/footer.ejs') %>
