<% include('../layouts/header.ejs') %>

<h1>Log in</h1>

<% 
    if (typeof message !== 'undefined') {
        %>
        <h4><%= message %></h4>
        <%
    }

%>

<form action="/login" method="post">
    <input type="email" name="email" required placeholder="Enter email">
    <br><br>
    <input type="password" name="password" required placeholder="Enter Password">
    <br><br>
    <input type="submit" value="Login">
    <br><br>
    <a href="/register">Sign Up </a>
    <br><br>
    <a href="/admin">Admin login</a>

</form>

<% include('../layouts/footer.ejs') %>